.menu__content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav__cell {
    display: inline;
    line-height: 14px;
}

.nav__cell a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav__cell a:before {
    position: absolute;
    width: 7px;
    height: 100%;
}

.nav__cell--selected a {
    background-color: #555;
}

.nav__btn:hover {
    background-color: #555;
}

.left { float: left; }
.right { float: right; }

.next__button:hover {
    background-color: #555;
    cursor: pointer;
}

