.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown table (hidden by default) */
.dropdown-table {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
}


/* Show table on hover */
.dropdown:hover .dropdown-table {display: block;}

/* Highlight table rows on hover */
.dropdown-table tr:hover {background-color: #ddd;}

/* Table row formatting */
.dropdown-table td {
    padding: 1px;
}

.dropdown-table td a {
    color: black;
    text-decoration: none;
    display: block;
    cursor: default;
}
